[Desktop Entry]
Version=1.0
Type=Application
Name=gview
Comment=gview
Exec=bash -ic '/opt/gv/gview.exe'
Icon=preferences-system-sharing
Path=$HOME
Terminal=false
StartupNotify=false
